<p>Página de error</p>
<ul>
  <li>
    <a routerLink="/auth/login">Login</a>
  </li>
  <li>
    <a routerLink="/auth/register">Registro</a>
  </li>
  <li>
    <a routerLink="/heroe/add-hero">Agregar Heroe</a>
  </li>
  <li>
    <a routerLink="/heroe/edit-hero/2">Editar Heroe</a>
  </li>
  <li>
    <a routerLink="/heroe/2/view">Ver heroe</a>
  </li>
  <li>
    <a routerLink="/heroe/list-heroes">Lista de heores</a>
  </li>
  <li>
    <a routerLink="/heroe/list-heroes">Lista de heores</a>
  </li>
  <li>
    <a routerLink="/heroe/search/">Buscar heroe</a>
  </li>
</ul>
